
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="description" content="My Great Site" />
<meta name="keywords" content="love, passion, intrigue, deception" />
<meta name="robots" content="all" />
 
	
	<title>Welcome to Shirne's blog</title>
	
	<link href="/resource/blog/style/master.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container" id="header">
    <h1>Welcome to Shirne's Blog!</h1>
</div>
<div class="container" id="body">
	<div id="body">
		<p>The page you are looking at is being generated dynamically by CodeIgniter.</p>

		<p>If you would like to edit this page you'll find it located at:</p>
		<code>application/views/welcome_message.php</code>

		<p>The corresponding controller for this page is found at:</p>
		<code>application/controllers/welcome.php</code>

		<p>If you are exploring CodeIgniter for the very first time, you should start by reading the <a href="user_guide/">User Guide</a>.</p>
	</div>
</div>
<div id="footer" class="container">Powered By Shirne with <a href="http://codeigniter.com/" title="CodeIgniter">CodeIgniter</a><br />Page rendered in <strong>0.9427</strong> seconds</div>

</body>
</html>
